/* set the filters */
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 10px 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.locations {
    display: inline-block;
    height: 100%;
    width: 25%;
}

.amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
}

.filters h3 {
    font-weight: 600;
    margin: 10px 40px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 10px 40px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters .locations .popover,
.filters .amenities .popover {
    margin-top: 5px;
    margin-left: 0px;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
}

.filters ul {
    list-style-type: none;
    padding: 20px;
}

.filters h2 {
    font-size: 16px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: inline-block;
    width: 21%;
}



.filters .locations li,
.filters .amenities li {
    padding: 10px 35px 5px 10px;
}